<h1>Biomimic data</h1>

<div class="container map">
    <img src="images/World_Maps_International_20mil_1.jpg">
</div>

<div class="container filters" ng-controller="MainController">
<div>
  Biomimic
  <ui-select ng-model="filters.selectedBiomimic"
  ng-change="showCountryOptions()">
  	<ui-select-match>
		{{$select.selected}}
	</ui-select-match>
 	<ui-select-choices repeat="biomimic in (biomimicOptions | filter: $select.search)">
 		{{biomimic}}
	</ui-select-choices>
	</ui-select>

  <div ng-hide="!filters.selectedBiomimic">
    Country

      <ui-select 
      ng-model="filters.selectedCountry"
  	  ng-change="showRegionOptions()">
  	<ui-select-match>
		{{$select.selected}}
	</ui-select-match>
 	<ui-select-choices repeat="country in (countryOptions | filter: $select.search)">
 		{{country}}
	</ui-select-choices>
	</ui-select>
</div>
	  

    <div
      class="filter-option"
      ng-class="{'dimmed': !filters.selectedCountry}">
      Region
      <ui-select 
	  	ng-model="filters.selectedRegion"
  	  	ng-change="showSiteOptions()"
  	  	ng-disabled="!filters.selectedCountry">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="region in (regionOptions | filter: $select.search)">
 				{{region}}
			</ui-select-choices>
	   </ui-select>
    </div>

    <div
      class="filter-option"
      ng-class="{'dimmed': !filters.selectedRegion}">
      Site

      <ui-select 
	  	ng-model="filters.selectedSite"
  	  	ng-change="showZoneOptions()"
  	  	ng-disabled="!filters.selectedRegion">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="site in (siteOptions | filter: $select.search)">
 				{{site}}
			</ui-select-choices>
	   </ui-select>
    </div>
  </div>

<div ng-hide="!filters.selectedSite">
    Zone
    <ui-select 
	  	ng-model="filters.selectedZone"
  	  	ng-change="showSubzoneOptions()">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="zone in (zoneOptions | filter: $select.search)">
 				{{zone}}
			</ui-select-choices>
	   </ui-select>

    <div
      class="filter-option"
      ng-class="{'dimmed': !filters.selectedZone}"
      ng-disabled="!filters.selectedZone">
      Subzone
      <ui-select 
	  	ng-model="filters.selectedSubzone"
  	  	ng-change="showWaveExpOptions()"
  	  	ng-disabled="!filters.selectedZone">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="subzone in (subzoneOptions | filter: $select.search)">
 				{{subzone}}
			</ui-select-choices>
	   </ui-select>
    </div>

    <div
      class="filter-option"
      ng-class="{'dimmed': !filters.selectedSubzone}"
      ng-disabled="!filters.selectedSubzone">
      Wave Exposure
      <ui-select 
	  	ng-model="filters.selectedWaveExp"
  	  	ng-disabled="!filters.selectedSubzone">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="waveexp in (waveExpOptions | filter: $select.search)">
 				{{waveexp}}
			</ui-select-choices>
	   </ui-select>
    </div>
  </div>

  <div ng-hide="!filters.selectedWaveExp">
    Start Date
    <input id="datepicker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="filters.startDate">
    End Date
    <input ng-change="showResults()" id="datepicker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="filters.endDate">
  </div>

<div id="results" >
</div>

</div>
