<h1>Biomimic data</h1>

<div class="container map">
    <img src="images/World_Maps_International_20mil_1.jpg">
</div>

<div class="container filters" ng-controller="MainController">

  Biomimic
  <ui-select ng-model="main.selectedBiomimic"
  ng-change="main.showCountryOptions()">
  	<ui-select-match>
		{{$select.selected}}
	</ui-select-match>
 	<ui-select-choices repeat="biomimic in (main.biomimicOptions | filter: $select.search)">
 		{{biomimic}}
	</ui-select-choices>
	</ui-select>

  <div ng-hide="!main.selectedBiomimic">
    Country

      <ui-select 
      ng-model="main.selectedCountry"
  	  ng-change="main.showRegionOptions()">
  	<ui-select-match>
		{{$select.selected}}
	</ui-select-match>
 	<ui-select-choices repeat="country in (main.countryOptions | filter: $select.search)">
 		{{country}}
	</ui-select-choices>
	</ui-select>

	  

    <div
      class="filter-option"
      ng-class="{'dimmed': !main.selectedCountry}">
      Region
      <ui-select 
	  	ng-model="main.selectedRegion"
  	  	ng-change="main.showSiteOptions()"
  	  	ng-disabled="!main.selectedCountry">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="region in (main.regionOptions | filter: $select.search)">
 				{{region}}
			</ui-select-choices>
	   </ui-select>
    </div>

    <div
      class="filter-option"
      ng-class="{'dimmed': !main.selectedRegion}">
      Site

      <ui-select 
	  	ng-model="main.selectedSite"
  	  	ng-change="main.showZoneOptions()"
  	  	ng-disabled="!main.selectedRegion">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="site in (main.siteOptions | filter: $select.search)">
 				{{site}}
			</ui-select-choices>
	   </ui-select>
      
    </div>
  </div>

<div ng-hide="!main.selectedSite">
    Zone
    <ui-select 
	  	ng-model="main.selectedZone"
  	  	ng-change="main.showSubzoneOptions()">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="zone in (main.zoneOptions | filter: $select.search)">
 				{{zone}}
			</ui-select-choices>
	   </ui-select>
    </select>

    <div
      class="filter-option"
      ng-class="{'dimmed': !main.selectedZone}"
      ng-disabled="!main.selectedZone">
      Subzone
      <ui-select 
	  	ng-model="main.selectedSubzone"
  	  	ng-change="main.showWaveExpOptions()"
  	  	ng-disabled="!main.selectedZone">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="subzone in (main.subzoneOptions | filter: $select.search)">
 				{{subzone}}
			</ui-select-choices>
	   </ui-select>
    </div>

    <div
      class="filter-option"
      ng-class="{'dimmed': !main.selectedSubzone}"
      ng-disabled="!main.selectedSubzone">
      Wave Exposure
      <ui-select 
	  	ng-model="main.selectedWaveExp"
  	  	ng-disabled="!main.selectedSubzone">
  			<ui-select-match>
				{{$select.selected}}
			</ui-select-match>
 			<ui-select-choices 
 				repeat="waveexp in (main.waveExpOptions | filter: $select.search)">
 				{{waveexp}}
			</ui-select-choices>
	   </ui-select>
    </div>
  </div>



</div>
