body{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 36px;
}
input{
	color:black;
}
label{
	font-size:18px;
	text-transform: uppercase;
	&.begin{
		text-transform: none;
	}
}
button, a.link{
	color: $aqua;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $lightaqua;
	padding:5px 15px;
	display: inline-block;
	margin:5px 0;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid $aqua;
	width: 100%;
	&:after{
		content: '\25B6';
		float: right;
		font-size: 18px;
		padding-top:3px;
	}
}
a.link{
	width: 100%;
	&:hover{
		text-decoration: none;
	}
}
.container {
	min-width: 800px !important;
	width: 100% !important;
	max-width: 1200px !important;
}
.margin-bottom {
	margin-bottom: 10px;
}
.datepicker-days{
	color:black;
}
.date input[type=text]{
	height: 34px;
	font-weight: 600;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	padding: 0 12px;
	border:1px solid transparent;
	width: 100%;
	color: $aqua;

}
.ui-select-match .btn span {
	 line-height: 1.2;
	 font-weight: 600;
}
.ui-select-match{
	font-size:20px;

	.btn{
		padding: 3px 12px;
		color: $aqua;
		span{
			font-size: 20px;
		}
	}
}
.row{
	margin-bottom:25px
}
.dimmed {
  opacity: 0.5;
}
.dropdown-menu{
	font-size:20px;
	width: 30%;
}
.btn span{
	font-size:20px;
}
.alert__filters {
	font-size: 14px;
	margin-top: 30px;
}
.alert__filter {
	font-weight: 600;
	display: inline-block;
	width: 120px;
}
.data-message,
.no-data-message {
	display: none;
}
.data-no {
	.no-data-message {
		display: block;
	}
}
.data-success {
	.data-message {
		display: block;
	}
}
.alert__filters {
	display: none;
}
.data-no,
.data-success {
	.alert__filters {
		display: block;
	}
}
.download {
	display: none;
}
.download.data-success {
	display: block;
}
.data-no.stat__filters{
	display:none;
}
.hide-stat{
	display:none;
}
.view-stat{
	display:block;
}
