// .select {
//   min-width: 300px;
// }

// .select2 > .select2-choice.ui-select-match {
//   /* Because of the inclusion of Bootstrap */
//   height: 29px;
// }

// .selectize-control > .selectize-dropdown {
//   top: 36px;
// }

.dimmed {
  opacity: 0.5;
}
body{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
.row{
	margin-bottom:25px
}

.datepicker-days{
	color:black;
}
input{
	color:black;
}

button, a.link{
	color: $aqua;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $lightaqua;
	padding:5px 15px;
	display: inline-block;
	margin:5px 0;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid $aqua;
	&:after{
		content: '\25B6';
		float: right;
		font-size: 18px;
		padding-top:3px;
	}
}
a.link{
	width: 100%;
	&:hover{
		text-decoration: none;
	}
}

label{
	font-size:18px;
	text-transform: uppercase;
	&.begin{
		text-transform: none;
	}
}
.ui-select-match{
	font-size:20px;

	.btn{
		padding: 3px 12px;
		color: $aqua;
		span{
			font-size: 20px;
		}
	}
}
.dropdown-menu{
	font-size:20px;
	width: 30%;

}
.date input[type=text]{
	height:34px;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	padding: 0 12px;
	border:1px solid transparent;
	width: 100%;
	color: $aqua;

}