// .select {
//   min-width: 300px;
// }

// .select2 > .select2-choice.ui-select-match {
//   /* Because of the inclusion of Bootstrap */
//   height: 29px;
// }

// .selectize-control > .selectize-dropdown {
//   top: 36px;
// }

.dimmed {
  opacity: 0.5;
}
body{
	font-size: 18px;
}
.datepicker-days{
	color:black;
}
input{
	color:black;
}

button, a.link{
	color: $aqua;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $lightaqua;
	padding:5px 15px;
	display: inline-block;
	margin:5px 0;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid $aqua;
}

label{
	font-size:18px;
}
.ui-select-match{
	font-size:20px;
}
.dropdown-menu{
	font-size:20px;
	width: 30%;

}
.btn span{
	font-size:20px;
}

.alert__filters {
	font-size: 14px;
	margin-top: 30px;
}
.alert__filter {
	font-weight: 600;
	display: inline-block;
	width: 120px;
}

.margin-bottom {
	margin-bottom: 10px;
}

.data-message,
.no-data-message {
	display: none;
}

.data-no {
	.no-data-message {
		display: block;
	}
}
.data-success {
	.data-message {
		display: block;
	}
}
.alert__filters {
	display: none;
}

.data-no,
.data-success {
	.alert__filters {
		display: block;
	}
}

.download {
	display: none;
}
.download.data-success {
	display: block;
}

